<h1>Log in</h1>
<div class="form">
  <div style="color: red"><%= flash[:error] %></div>
  <%= form_with url: login_path do |f| %>

    <p><strong><%= f.label :email %> </strong><%= f.email_field :email %></p>
    <p><strong><%= f.label :password %> </strong><%= f.password_field :password %></p>

    <%= f.submit "Log in", class: "button login_button"%>
  <% end %>
  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
