<h1>Alien Adoption Sign Up</h1>
<span style="font-style: oblique">Make Your Profile Below:</span>

<% if flash[:errors] %>
  <% flash[:errors].each do |m| %>
    <h3 style="color: red, text-style: oblique"><%= m %></h3>
  <% end %>
<% end %>

<br>

<div class="form">
  <%= form_with model: @owner do |form| %>
    <p><strong><%= form.label :name%></strong> <%= form.text_field :name %></p>
    <p><strong><%= form.label :email%></strong> <%= form.text_field :email %></p>
    <p><strong><%= form.label :password%></strong> <%= form.password_field :password %></p>
    <p><strong><%= form.label "Retype Password"%></strong> <%= form.password_field :password_confirmation %></p>

    <hr>
    <p><strong><%= form.label :planet%></strong></p>
    <p><%= form.collection_select :planet_id, Planet.all, :id, :name %></p>

    <p><strong><%= form.label "Write A Little About Yourself:"%></strong></p>
    <p><%= form.text_area :bio%></p>

    <strong><%= form.label "Do you need a certified therapy alien?"%></strong>
    <p><%= label :therapy, "Yes", value: true %>
    <%= form.radio_button :therapy, true, value: true%>
    <%= label :therapy, "No", value: true %>
    <%= form.radio_button :therapy, false, value: false%></p>

    <p><%= form.submit %></p>
  <% end %>
<div>
