<% if @current_owner %>

<body class="owner-show-body">
  <h1>游둤 Hey, <%=@owner.name.titleize%>!</h1>
  <div class="form">
    <p><strong>Bio:</strong> <%=@owner.bio%></p>
    <p><strong>Planet:</strong> <%=link_to @owner.planet.name, planet_path(@owner.planet.id)%></p>
    <p><strong>Therapy?</strong> <%=@owner.therapy%></p>
    <p><strong>Email:</strong> <%=@owner.email%></p>
    <p><strong>Aliens you've adopted:</strong></p>
    <% if @owner.aliens == nil || @owner.aliens == [] %>
      <span style="font-style: oblique">You haven't adopted any aliens yet!</span>
      <br/>
    <% else %>
    <ul>
      <%@owner.aliens.each do |alien| %>
        <li><%= link_to alien.name, alien_path(alien)%></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <br>
  <%= button_to "游놓 See All Available Aliens 游놓", '/aliens', method: :get, class: "button all_button"%>
  <br>
  <%= button_to "九껊잺 I Wanna Loggity Log Out 九껊잺", logout_path, method: :delete, class: "button logout_button"%>

<% elsif session[:owner_id] == nil %>

  <h1>Sorry, this profile is private.</h1>
  <h3>Please choose an option: </h3>
  <%= button_to "See All Available Aliens", '/aliens', method: :get, class: "button all_button"%>
  <br>
  <form action="/login">
      <input type="submit" value="Login" class="button login_button"/>
  </form>

 <% else %>
 <h1>Sorry, this profile is private.</h1>
  <h3>Please choose an option: </h3>
  <%= button_to "游놓 See All Available Aliens 游놓", '/aliens', method: :get, class: "button all_button"%>
  <br>
  <form action="/owners/<%= session[:owner_id]%>">
      <input type="submit" value="Go to My Profile" class="button login_button"/>
  </form>

<% end %>
</body>
