<% if @current_owner %>

  <h1>Hey, <%=@owner.name.titleize%>!</h1>
  <div class="form">
    <p><strong>Bio:</strong> <%=@owner.bio%></p>
    <p><strong>Planet:</strong> <%=@owner.planet.name%></p>
    <p><strong>Therapy?</strong> <%=@owner.therapy%></p>
    <p><strong>Email:</strong> <%=@owner.email%></p>
    <p><strong>Aliens you've adopted:</strong></p>
    <% if @owner.aliens == nil || @owner.aliens == [] %>
      <span style="font-style: oblique">You haven't adopted any aliens yet!</span>
      <br/>
    <% else %>
    <ul>
      <%@owner.aliens.each do |alien| %>
        <li><%= alien.name%></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <%= form_with url: logout_path, method: :delete do |form| %>
  <%= form.submit "I wanna loggity log out"%>
  <%end%>

  <%= button_to "Logout out out...out", logout_path, method: :delete%>
<% else %>

  <h1>Sorry, this profile is private.</h1>
  <h3>Please choose an option: </h3>
  <%= button_to "See all available Aliens", '/aliens', method: :get%>

  <form action="/owners/<%= session[:owner_id]%>">
      <input type="submit" value="Go to My Profile" />
  </form>

<% end %>
