<h1><%=@planet.name%></h1>

<p>The climate on this planet is -   <%=@planet.climate%></p>
<p>The gravity on this planet is -   <%=@planet.gravity%></p>
<p>Life forms on this planet eat -   <%=@planet.diet%></p>
<p>Aliens who call this place home:</p>
<%@planet.aliens.each do |alien|%>
<%=alien.name%>
<%end%>
