<!DOCTYPE html>
<html>
  <head>
    <title>AlienAdoptionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset='utf-8'>

    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">

      <div class="alien-logo">
        <% if session[:owner_id] %>
           <a href="<%=owner_path(session[:owner_id].to_s)%>"><p class="logo-nav">
             <img src="/assets/alien.png" alt="alien-adoption">Alien Adopt</p></a>
        <%else%>
          <a href="/login"><p class="logo-nav"><%= image_tag ("alien.png")%>Alien Adopt</p></a>
        <%end%>
      </div>

      <div class="nav-links">
        <%if session[:owner_id] == nil%>
          <%flash[:error] = "Please log in to view your profile"%>
          <p><a href="/login">My Profile</a></p>
        <%else%>
          <p><a href="/owners/<%= session[:owner_id].to_s %>">My Profile</a></p>
        <%end%>
        <p><%= link_to "Home Planets", planets_path %></p>
        <p><%= link_to "Adopt An Alien", aliens_path %></p>
        <% if session[:owner_id] == nil%>
          <p><%= button_to "Login", '/login', class: "button login_button" %></p>
        <%else%>
            <p><%= button_to "Logout", '/logout', method: :delete, class: "button logout_button" %></p>
        <% end %>
      </div>
  </div>
    <%= yield %>
  <br>
  <br>
  </body>
</html>
