<!DOCTYPE html>
<html>
  <head>
    <title>AlienAdoptionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
    <%if session[:owner_id] == nil%>
      <%flash[:error] = "Please log in to view your profile"%>

      <p><a href="/login">My Profile</a></p>
    <%else%>
      <p><a href="/owners/<%= session[:owner_id].to_s %>">My Profile</a></p>
    <%end%>
      <p><%= link_to "Home Planets", planets_path %></p>
      <p><%= link_to "Adopt An Alien", aliens_path %></p>
      <p><%= button_to "Logout", '/logout', method: :delete %></p>
  </div>
    <%= yield %>
  </body>
</html>
