<h1>New Alien Form</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |m| %>
    <h3 style="color: red"><%= m %></h3>
  <% end %>
<% end %>


<%= form_with model: @alien do |form| %>
  <p><strong><%= form.label :name%></strong></p>
  <p><%= form.text_field :name %></p>

  <p><strong><%= form.label :bio%></strong></p>
  <p><%= form.text_area :bio%></p>

  <strong><%= form.label "Is this a certified therapy alien?"%></strong>
  <p><%= label :therapy, "Yes", value: true %>
  <%= form.radio_button :therapy, true, value: true%>
  <%= label :therapy, "No", value: true %>
  <%= form.radio_button :therapy, false, value: false%></p>

  <p><strong><%= form.label "Favorite Toy"%> </strong><%= form.collection_select :toy_id, Toy.all, :id, :name%></p>

  <p><strong><%= form.label "Planet of Origin"%> <strong><%= form.collection_select :planet_id, Planet.all, :id, :name %></p>

  <p><strong><%= form.label :owner%> <strong><%= form.collection_select :owner_id, Owner.all, :id, :name %></p>

  <p><%= form.submit %></p>
<% end %>
