<h1>Alien: <%=@alien.name%></h1>

<p>Owner: <%= link_to @alien.owner.name, owner_path(@alien.owner.id)%></p>
<p>Bio: <%=@alien.bio%></p>
<p>Therapy? <%=@alien.therapy%></p>
<p>Favorite Toy: <%= @alien.toy.name %></p>
<p>Planet: <%=@alien.planet.name%></p>
<p>Personality Traits:</p>
<ul>
<%@alien.personalities.each do |personality| %>
<li><%=personality.name%></li>
<%end%>
</ul>

<%= button_to "Make a new alien", new_alien_path, method: :get %>

